*{
 padding: 0;
 margin: 0;
 box-sizing: border-box;
}
body{
    height: 100vh;
}
.header{
background-color: rgb(0, 140, 255);
display: flex;
justify-content: space-between;
align-items: center;
padding: 20px 25px;

}
.logo{
    color: white;
    font-size: 21px;
    font-weight: bold;

}
.navbar ul{
list-style: none;
padding: 0;
margin: 0;
display: flex;

}
.navbar li{
    margin-left: 15px;
    
}
.navbar a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    
}
.sectionone {
    background-color: rgb(5, 5, 122);
    height: 300px;
    color: white;
    
    
}
.rap{
    padding: 90px;
}
.rap h1{
    font-size: 50px;
}
.rap h4{
    font-size: 25px;
    margin: 10px;
}
.rap button{
background-color: rgb(255, 157, 0);
height: 40px;
width: 120px;
border-radius: 10px;
font-weight: bold;
font-size: 15px;
}
.sectiontwo{
    background-color: rgb(244, 242, 238);
    height: 500px;
    color: black;
}
.sectiontwo h1{
    font-size: 40px;
    padding: 50px;
}
.product1{
    background-color: white;
    align-items: center;
    height: 225px;
    width: 300px;
    padding: 10px;
    border-radius: 15px;
}
.product2{
    background-color: rgb(247, 246, 246);
    align-items: center;
    height: 225px;
    width: 300px;
    padding: 10px;
    border-radius: 15px;
}
.product3{
    background-color: white;
    align-items: center;
    height: 225px;
    width: 300px;
    padding: 10px;
    border-radius: 15px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}
img{
    width: 50px; 
    height: 60px; 
    border-radius: 50%; 
    object-fit: cover;
    margin-bottom: 15px;
    margin-top: 10px;

}
button{
    background-color: rgb(0, 140, 255);
height: 40px;
width: 120px;
border-radius: 10px;
margin-top: 10px;
color: white;
border: 0;
font-weight: bold;
}
h2{
    font-size: 25px;
}
p{
    font-size: larger;
    font-weight: bold;
}
.footer{
    background-color: rgb(0, 140, 255);
padding: 20px 25px;
padding-left: 42%;
color: white;
font-size: larger;
}
